h3{
    color: aqua;
    background-color: brown;
    font-size: 50px;
}
.t_transform_uppercase{
    text-transform:uppercase;
}

.t_transform_lowercase{
    text-transform:lowercase;
}_

.t_transform_capitalize{
    text-transform:capitalize;
}

.t_align_center{
    text-align:center;
}

.t_align_right{
    text-align:right;
}


.t_decor_over{
    text-decoration: overline;
}

.t_decor_line{
    text-decoration: line-through;
}

.t_decor_under{
    text-decoration: underline;
}

.t_decor{
    text-decoration: underline line-through overline;
}

.t_indent{
    text-indent:160px ;
}

.t_line_height{
    line-height: 28px;
}

.t_letter_spacing{
    letter-spacing: 10px;
}

.t_word_spacing{
    word-spacing: 15px;
}

.t_shadow{
    color: aqua;
    text-shadow: 4px 5px 7px red;
    font-size: 30px;
    text-align: center;
}

.t_shadow2{
    color:blue;
    text-shadow: 6px 7px 8px yellow;
    font-size: 50px;
    text-align: center;
    text-transform: capitalize;
}

.img_b_shadow{
    width: 400px;
    box-shadow: 5px 6px 7px pink;


}

.img_shadow2{
    width: 200px;
    box-shadow: 6px 7px 8px greenyellow;
}

.img d shadow{
    width:50px;
    filter:drop-shadow(5px 5px 5px green);
}

.f_family1{
    font-family: monospace;
}

.f_family2{
    font-family:cursive ;
}

.f_family3{
    font-family: sans-serif;
}

.f_family4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.f_weight{
    font-weight: bold;
    font-style: italic;
}

.f_font{
    font: italic bold 30px verdana;
}

.heading1{
    color: red;
    font-size: 40px;
}

#heading1{
    color: blue;
}

.t_trasform{
    text-transform: uppercase;
}

.b_img1{
    width: 10px;
    height: 20px;
    border: 8px solid blue;
    padding: 60px;
    margin: 100px;
}

.b_img2{
    width: 20px;
    height: 30px;
    border: 8px outset red;
}

.b_img3{
     width: 10px;
    border: 8px groove blue;
}

.b_img4{
     width: 10px;
    border: 8px ridge blue;
}

.b_img5{
     width: 500px;
    border: 8px dashed pink;

}

.b_img6{
    height: 400px;
    border: 5px solid;

    
     
}


.b_img7{
    width: 400px;
    border: 8px double red ;
    border-radius: 20px;
}
.b_img8{
    width: 400px;
    border: 8px double red ;
    border-top-left-radius: 50px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 50px;
    border-bottom-left-radius:70px ;
}

.b_img9{
    width: 400px;
    border:7px double blueviolet;
    border-radius: 50px 80px 50px 80px ;
}

.simple{
    border: 5px solid red;
}

.box_model1{
    border: 5px solid red;
    padding: 40px;
    margin: 50px;
}

.box_model2{
    border: 5px solid red;
    /* padding-top: 40px;
    padding-right: 60px;
    padding-left: 10px;
    padding-bottom: 80px; */
    /* top-bottom,right-left */
    padding: 10px 60px;
    padding: 30px 20px 30px 20px ;
}

.box_model3{
    border: 5px dashed blueviolet;
    padding: 40px;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: cursive;
    box-shadow: 10px 20px 7px red;
}